<div class="jumbotron">
    <h1>The Realm Web API</h1>
    <p>The Realm is an online Web API dungeon exploring and questing game. The API provides no interface but handles character management and game play.</p>
    <p>The idea is to allow multiple different interfaces to be create that all utilize the Web API without placing restrictions on the front-end game design.</p>
</div>